@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box ;    
}
ul,li{
  list-style: none;
}

:root{
  --light-gray:rgb(247, 247, 247);
  --dark-gray:#555;
  --gray:rgb(160, 160, 160);
  --light-blue:rgb(230, 230, 255);
}

